.about {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.contentContainer{
    margin-top: 70px;
    height: calc(100vh - 70px);
    overflow-y: auto;
    overflow-x: hidden;
}
.container {

    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    box-sizing: border-box;
}

.herosection {
    padding: 0px 40px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.heroheadingdiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.heroheading {
    margin: 0px;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.herodesc {
    margin-top: 20px;
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    line-height: 1.4;
}

.fadein {
    animation: fade 1s ease-in-out;
}

.heroimg {
    width: 35%;
    min-width: 350px;
}

.ouraimdiv {
    /* height: 300px; */
    background-color: rgb(0, 115, 230);
    margin: 0px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
    padding-bottom: 50px;
}

.aimdesc {
    margin: 0px 100px;
    color: white;
    font-size: 22px;
    text-align: center;
}

.conditionallyhiddentext {
    display: inline;
}

.services {
    margin-top: 50px;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
}

.descriptioncontainer {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 10px;
    margin: 0px auto;
    justify-items: center;
    transform: translateY(100px);
    position: relative;
    z-index: -1;
}

.animate {
    animation: moveUp 1s ease-out forwards;
}
.advbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 15px;   
    transition: all ease 1s;
    background-color: rgb(212, 232, 255);
}
.advantage {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    box-sizing: border-box;
    width: 90%;
}

.icondiv {
    height: 25px;
    width: 25px;
    background-color: #003366;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteline {
    height: 2px;
    background-color: white;
    width: 100%;
}

.whyitmattersdiv {
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.matters {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.mattercontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.matterimg {
    width: 400px;
    height: 300px;
}

.matterstextdiv {
    width: 400px;
}

.matterstext {
    margin: 0px;
    font-size: 16px;
}

.slidein {
    animation: slideIn 0.5s ease forwards;
}

.slideout {
    animation: slideOut 0.5s ease forwards;
}

@media(max-width: 1300px) {
    .descriptioncontainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 1000px) {
    .heroheading {
        font-size: 30px;
    }
}

@media(max-width: 900px) {
    .matterstext {
        display: none;
    }

    .heroheading {
        font-size: 25px;
    }

    .herosection {
        padding: 0px 20px;
    }

    .aimdesc {
        margin: 0px;
    }

    .whyitmattersdiv {
        margin-bottom: 50px;
    }
}

@media(max-width: 800px) {
    .heroimg {
        display: none;
    }

    .heroheadingdiv {
        width: 100%;
        padding: 5px 20px;
    }
    

    .heroheading {
        margin-bottom: 20px;
    }

    .conditionallyhiddentext {
        display: none;
    }

    .aimdesc {
        font-size: 16px;
    }
}

@media(max-width: 600px) {
    .matters {
        width: 80%;
    }

    .matterimg {
        width: 80%;
    }

    .descriptioncontainer {
        grid-template-columns: repeat(1, 1fr);
    }
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}



@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes moveUp {
    from {
        transform: translateY(300px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}