.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.historyContainer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-sizing: border-box;
    width: 250px;
    border-right: 1px solid rgb(190, 190, 190);
    position: fixed;
    margin-top: 70px;
    height: calc(100vh - 70px);
    overflow-y: auto;
}
/* ::-webkit-scrollbar {
    width: 13px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
    border: 2px solid #f4f4f4;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

.singleHistoryContainer {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-top: 1px solid rgb(190, 190, 190); */
    box-sizing: border-box;
    padding: 5px 15px;
    box-sizing: border-box;
}
.noHistory{
    width: 100%;
    /* border-top: 1px solid rgb(190, 190, 190); */
    box-sizing: border-box;
    padding: 5px 15px;
    box-sizing: border-box;    
}
.singleHistoryContainer:hover{
    background-color: rgba(190, 190, 190, 0.7);
}
.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 250px);
    margin-left: 250px;
    margin-top: 70px;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.uploadImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    background-color: rgb(212, 232, 255);
    /* box-sizing: border-box; */
}

.uploadImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 240px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
}

.showImageData {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
    padding: 20px;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
}

.imgInput {
    display: none;
}
.customFileInput {
    /* background-color: rgb(61, 82, 163); */
    color: white;
    text-align: center;
    width: 240px;
    padding: 7px 0px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    box-sizing: border-box;
}
.btn{
    background-color: rgb(61, 82, 163);
    color: white;
    text-align: center;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    border: none;
    margin-left: auto;
    margin-right: 0px;
}
.selectedImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgb(190, 190, 190);
}

.showResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: rgb(212, 232, 255); */
    padding: 50px 0px;
    box-sizing: border-box;
    gap: 0px;
}
.upperTextandImage{
    display: flex;
    width: 100%;
    /* gap: 50px;  */
    margin: 0px auto;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
.text{
    gap: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.descriptioncontainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 0px;
    margin: 0px auto;
    justify-items: center;
    padding-bottom: 0px;
    box-sizing: border-box;
}

.advantage {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
    box-sizing: border-box;
    width: 90%;
}

.icondiv {
    height: 25px;
    width: 25px;
    background-color: #003366;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    margin: 50px 0px;
}

.whiteline {
    height: 2px;
    background-color: white;
    width: 100%;
}

.bottomSpace{
    height: 20px;
    width: 100%;
    background-color: white;
    color: white;
}

@media(max-width: 900px){
    .historyContainer{
        width: 200px;
    }
    
    .contentContainer{
        margin-left: 200px;
        margin-right: 0px;
        width: 100%;
    }
}
@media(max-width: 750px){
    
    .upperTextandImage{
        flex-direction: column;
        width: 90%;
    }
    .image{
        display: none;
    }
    .text{
        width: 100%;
    }
}
@media(max-width: 700px){
    .historyContainer{
        display: none;
    }
    .contentContainer{
        margin-left: 0px;
        width: 100%;
    }
    .upperTextandImage{
        flex-direction: column;
        width: 90%;
    }
    .image{
        display: none;
    }
    .text{
        width: 100%;
    }
}
@media(max-width: 600px){
    .descriptioncontainer {
        grid-template-columns: repeat(1, 1fr) !important;
        column-gap: 0px;
    }
    .advantage{
margin: 0px;
    }
}
@media(max-width: 1300px) {
    .descriptioncontainer {
        grid-template-columns: repeat(2, 1fr);
    }
}