.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    background-color: #1E1E1E;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px 30px;
    margin-top: 70px;
    height: calc(100vh - 70px);
    overflow-y: auto;
}
.iframeStyle{
    min-width: 330px;
    height: 95%;
    width: 58%;
    border: none;
}


@media(max-width: 900px){
    .contentContainer{
        margin-right: 0px;
        width: 100%;
    }
}
@media(max-width: 700px){
    .iframeStyle{
        height: 95%;
    }
    .contentContainer{
        margin-left: 0px;
        width: 100%;
    }
}