.homepage {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 252);
    overflow-y: hidden;
    position: relative;
    z-index: 00;
}

.contentContainer{
    margin-top: 70px;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.acnecon {
    margin: 0px auto;
    width: 90%;
    height: 600px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }
  
  .acnebox {
    width: 100%;
    /* background-color: #d8d8d8; */
    background-color: rgb(212, 232, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: auto;
  }
  
  .acnebox:hover {
    transform: scale(1.05);
    padding: 0px;
  }
  
  .acnebox img {
    width: 100%;
    /* height: 100%; */
    height: 300px;
    object-fit: fill;
    border-radius: 15px;
    display: none;
    transition: opacity 0.5s ease;
  }
  
  .acnebox:hover img {
    display: block;
  }
  
  .acnebox p {
    margin: 0;
    color: #000;
    transition: color 0.3s ease;
  }
  
  .acnebox:hover h2 {
    display: none;
  }
  .acnebox:hover p {
    display: none;
  }
  
  



.imgandtext {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: -1;
}

.text {
    font-size: 50px;
    font-family: Dosis, sans-serif;
    font-weight: 700;
    color: rgb(3, 34, 75);
}

@keyframes bounceIn {
    0% {
      transform: scale(0.3);
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

.img {
    opacity: 0;
    transform: scale(0.3);
    position: relative;
    z-index: -1;
    width: 450px;
}
.img.animateImg {
    animation: bounceIn 1s ease forwards;
  }

.chat {
    z-index: 10;
    visibility: hidden;
    position: fixed;
    right: 15px;
    bottom: 5%;
    background-color: #003366;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mototaglinediv {
    width: 50%;
    margin: auto;
    margin: 0px;
    width: 50%;
    padding: 0px 30px;
    box-sizing: border-box;
}

.tagline {
    margin: 10px 0px;
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    line-height: 1.4;
}

.treatments {
    margin: 40px 0px;
    text-align: center;
    font-family: Dosis;
    font-size: 35px;
    font-weight: bold;
}

.diseasecontainer {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 20px auto;
}

.diseasebox {
    min-height: 100px;
    max-height: 250px;
    min-width: 100px;
    /* width: 25%; */
    max-width: 250px;
    display: inline-block;
    cursor: pointer;
}

.diseaseimg {
    width: 100%;
    height: 100%;
}

.diseaseboxtext {
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.6);
    color: black;
    /* position: absolute;
    z-index: 1; */
    box-sizing: border-box;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.diseasebox:hover .diseaseboxtext {
    visibility: visible;
    opacity: 1;
}

.lightbluecontainer{
    margin-top: 30px;
    width: 100%;
    background-color: #0073e6;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px;
    box-sizing: border-box;
}

.leftrightcontainer{
    display: flex; 
    gap: 50px;
    justify-content: space-between;
}

.leftdiv{
    height: 100%;
    width: 45%;
}

.leftdiv p{
    margin: 0px;
    font-size: 27px;
    color: white;
}

.rightdiv{
    height: 100%;
    width: 45%;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rightdiv p{
    margin: 0px;
    font-size: 15px;
    color: white;
}

.rightdiv button{
    width: 90px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}
.meetingimgs{
    width: 30%;
}
.whychooseus{
    margin: 40px 0px;
    text-align: center;
    font-family: Dosis;
    font-size: 39px;
    font-weight: bold;
}
.advan{
    margin: 40px 0px;
    margin-top: 20px;
    text-align: center;
    font-family: Dosis;
    font-size: 39px;
    font-weight: bold;
}
.ouradv{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Dosis;
    font-size: 35px;
    font-weight: bold;
}

@keyframes moveUp {
    from {
        transform: translateY(400px); /* Start 500px down */
        opacity: 0; /* Start invisible */
    }
    to {
        transform: translateY(0); /* Move to original position */
        opacity: 1; /* Fully visible */
    }
}
.advantagesdiv{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;
    padding-top: 0px;
    box-sizing: border-box;
    gap: 10px;
  transform: translateY(100px);
  position: relative;
  z-index: -1;

}
 
.advantagesdiv.animate {
    animation: moveUp 1s ease-out forwards;
  }

.advantage{
    width: 100%;
    border-radius: 15px;   
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    margin-right: 10px;
    box-sizing: border-box;
    position: relative;
    z-index: -2;
}

.icondiv{
    height: 25px;
    width: 25px;
    background-color: #003366;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whiteline{
    height: 2px; 
    background-color: white;
    width: 100%;
}
.footer{
    width: 100%;
    height: 150px;
    background-color: rgb(0, 64, 128);
}

.videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    margin: 50px;
    padding-bottom: 20px;
}



.container{
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;
    padding-top: 0px;
    box-sizing: border-box;
    justify-items: center;
    gap: 10px;
}
  .advbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 15px;   
    background-color: rgb(212, 232, 255);
    transition: all ease 1s;
  }
  .advbox span {
    border: 1px solid black;
    padding: 0.2rem;
    border-radius: 1rem;
  }
  .videoContainer{
    display: flex;
    align-items: flex-start;
    margin: 0px;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  .video{
    margin: 0px;
    height: 500px;
    width: 900px;
  }

@media(max-width: 1200px){
    .advantagesdiv{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
@media(max-width: 970px){
    .video{
        height: 400px;
        width: 750px;
    }
}
@media(max-width: 795px){
    .video{
        height: 334px;
        width: 600px;
    }
}
@media(max-width: 700px){
    .mototaglinediv {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .imgandtext {
        margin: 0px;
        margin-bottom: 10px;
    }
    .img{
        display: none;
    }
    .text {
        text-align: center;
        margin: 20px 0px;
    }

    .tagline {
        text-align: center;
    }
}
@media(max-width: 650px){
    .video{
        height: 250px;
        width: 90%;
    }
}
@media(max-width: 495px){
    .video{
        height: 200px;
        width: 90%;
    }
}
@media (max-width: 900px) {
    .img {
        height: 60%;
    }

    .text {
        font-size: 40px;
    }
    .advantage{
        width: 100%;
    }
}

@media(max-width: 800px) {
    .chat {
        visibility: visible;
    }
    .acnecon{
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 1fr); 
        height: 720px;
    }
    .acnebox{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .treatments{
        margin: 30px 0px;
    }
    .mototaglinediv {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .imgandtext {
        margin: 0px;
        margin-bottom: 10px;
    }
    .img{
        display: none;
    }
    .text {
        text-align: center;
        margin: 20px 0px;
    }

    .tagline {
        text-align: center;
    }

    .diseasebox {
        width: 100%;
    }

    .diseasecontainer {
        grid-template-columns: repeat(2, 1fr);
    }
    .leftrightcontainer{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .leftdiv{
        width: 100%;
    }
    .rightdiv{
        width: 100%;        
    }
    .meetingimgs{
        width: 30%;
    }
    .advantagesdiv{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        /* padding: 20px;
        margin-top: 0px; */
    }
    .container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        /* padding: 20px;
        margin-top: 0px; */
    }
}
@media(max-width: 560px){
    .acnecon{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: fit-content;
    }
    .acnebox{
        height: 200px;
        width: 100%;
    }
    .acnebox:nth-child(5) {
        display: none;
      }
    .acnebox:nth-child(6) {
        display: none;
      }
}

@media (hover: none) and (pointer: coarse) {
    .acnebox:hover {
        pointer-events: none; 
    }
    .acnebox:hover h2 {
        display: block;
      }
      .acnebox:hover p {
        display: block;
      }
      
      .acnebox:hover img {
        display: none;
      }
}